.play {
	display: flex;
	flex-direction: row;
}

.floors {
	background: limegreen;
	position: relative;
	/* padding: 10px; */
}
/* 
.lifts {
	background: mediumpurple;
	position: relative;
} */

.lift {
	background: crimson;
	height: 100px;
	width: 70px;
	position: absolute;
	bottom: 0;
	margin: 10px;
	left: 20vw;
}
