h2 {
    color: #111;
}

.floor,
.panel {
	display: flex;
}

.floor {
    flex: 1;
    flex-direction: row;
	margin: 10px;
	background-color: rebeccapurple;
	min-height: 120px;
}

.panel {
	flex: 3;
	justify-content: space-evenly;
	align-items: center;
}

.panel__button {
    width: fit-content;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.lifts {
	flex: 13;
}
